@import "tailwindcss";

@theme {
  --color-background: #0f1511;
  --color-primary: #91d5ad;
  --color-surface-tint: #91d5ad;
  --color-on-primary: #003921;
  --color-primary-container: #045233;
  --color-on-primary-container: #acf2c7;
  --color-secondary: #b5ccbb;
  --color-on-secondary: #203529;
  --color-secondary-container: #374b3e;
  --color-on-secondary-container: #d0e8d7;
  --color-tertiary: #a4cddc;
  --color-on-tertiary: #043542;
  --color-tertiary-container: #224c59;
  --color-on-tertiary-container: #bfe9f9;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
  --color-background: #0f1511;
  --color-on-background: #dfe4dd;
  --color-surface: #0f1511;
  --color-on-surface: #dfe4dd;
  --color-surface-variant: #404942;
  --color-on-surface-variant: #c0c9c0;
  --color-outline: #8a938b;
  --color-outline-variant: #404942;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #dfe4dd;
  --color-inverse-on-surface: #2c322d;
  --color-inverse-primary: #276a49;
  --color-primary-fixed: #acf2c7;
  --color-on-primary-fixed: #002112;
  --color-primary-fixed-dim: #91d5ad;
  --color-on-primary-fixed-variant: #045233;
  --color-secondary-fixed: #d0e8d7;
  --color-on-secondary-fixed: #0b1f15;
  --color-secondary-fixed-dim: #b5ccbb;
  --color-on-secondary-fixed-variant: #374b3e;
  --color-tertiary-fixed: #bfe9f9;
  --color-on-tertiary-fixed: #001f27;
  --color-tertiary-fixed-dim: #a4cddc;
  --color-on-tertiary-fixed-variant: #224c59;
  --color-surface-dim: #0f1511;
  --color-surface-bright: #353b36;
  --color-surface-container-lowest: #0a0f0c;
  --color-surface-container-low: #171d19;
  --color-surface-container: #1b211d;
  --color-surface-container-high: #262b27;
  --color-surface-container-highest: #303632;
}
